{% if element.kind == 'video' %}
	<button type="button" class="btn cfstream-action" data-video-url={{ element.url }} data-video-name={{ element.title }} data-field-handle={{ name }} data-element-id={{ element.id }} data-action-url="{{ actionUrl }}">
		Upload to Cloudflare
	</button>
{% endif %}
