<div class="cfstream-ctx">
	<video class="cfstream-video" controls style="width: 100%" poster="{{ value.thumbnail }}">
		{% if value.mp4Url and completed %}
			<source src="{{ value.mp4Url }}" type="video/mp4">
		{% endif %}
		{% if value.playback.hls %}
			<source src="{{ value.playback.hls }}" type="application/x-mpegURL">
		{% endif %}
		{% if value.playback.dash %}
			<source src="{{ value.playback.dash }}" type="application/dash+xml">
		{% endif %}
	</video>
	{% if not completed %}
		<p>
			The video is still processing. This can take a few minutes.
		</p>
		<p>
			Status: {{ value.status.state }} {{ value.status.pctComplete|default(1) }}%
		</p>
	{% elseif value.mp4Url %}
		<fieldset>
			<legend>Video options</legend>

			<button type="button" class="btn cfstream-action cfstream-action-thumbnail" data-video-uid={{ value.uid }} data-field-handle={{ name }} data-element-id={{ element.id }} data-action-url="{{ updateThumbActionUrl }}">
				Update thumbnail to use the current frame
			</button>
		</fieldset>
	{% endif %}
</div>
<details style="margin: 1em 0;">
	<summary>{{ value.meta.name }} <small>({{ value.input.width }} x {{ value.input.height }}, {{ value.duration }}s)</small></summary>
	<div style="margin: 1em 0;">
		{% if value.mp4Url and completed %}
			<p><strong>MP4:</strong> {{value.mp4Url|default('')}}</p>
		{% elseif value.mp4Url %}
			<p>
				<strong>The mp4 file is not ready yet.</strong>
				If you are usign a browser that does not support streaming, playback might now work for now.
			</p>
		{% endif %}
		<p><strong>HLS:</strong> {{value.playback.hls}}</p>
		<p><strong>DASH:</strong> {{value.playback.hls}}</p>
		<p><strong>Poster:</strong> {{value.thumbnail }}</p>
		<div style="margin: 1em 0;">
			<textarea readonly style="width:100%" rows="6">{{ value|json_encode(constant('JSON_PRETTY_PRINT')) }}</textarea>
		</div>
		<button type="button" class="btn submit cfstream-action cfstream-action-delete" data-video-uid={{ value.uid }} data-field-handle={{ name }} data-element-id={{ element.id }} data-action-url="{{ deleteActionUrl }}">
			Delete from Cloudflare
		</button>
	</div>
</details>
